<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo-and-bar">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                <div class="main-header-search-bar">
                    <form action="/" method="get" class="search">
                        <input type="search" class="nav-search-bar" placeholder="Buscar productos, marcas y más...">
                        <button type="submit" class="nav-search-btn"> <i class="fas fa-search"> </i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="purchase">
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
        </div>
        <a href="#" class="button-burguer"><i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a>
                </li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></i></a>
                </li>
                <li><a href="/">Mis compras <i class="fa-solid fa-basket-shopping"></i> </a>
                </li>
            </ul>
        </nav>
    </header>
    <form action="/crear-producto" method="post" class="create-form">
        <div class="control-form">
            <label>Nombre del producto:</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class="control-form">
            <label>price:</label>
            <input type="text" name="price" placeholder="123.56" class="control">
        </div>
        <div class="control-form">
          <label> Categoría </label>
        <select name="categoria" class="control">
            <option value="hogar">Hogar</option>
            <option value="electro">Electro</option>
            <option value="indumentaria">Indumentaria</option>
        </select>  
        </div>
        <div class="control-form">
            <label> Categoría </label>
          <select name="categoria" class="control">
              <option value="bs">Buenos Aires</option>
              <option value="rosario">Rosario</option>
              <option value="mendoza">Mendoza</option>
          </select>  
          </div>
        <div class="control-form">
            <label>description</label>
            <textarea name="description"></textarea>
        </div>
        <div class="control-form">
            <label> Está en oferta:</label>
            <input type="radio" name="enOferta">
        </div>
        <div class="control-form">
            <button type="reset" class="button-form">Borrar</button>
            <button type="submit" class="button-form">Guardar</button>
        </div> 
    </form>
</body>
</html>