<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.9/mercadolibre/favicon.svg" rel="icon"
        data-head-react="true">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo-and-bar">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                <div class="main-header-search-bar">
                    <form action="/" method="get" class="search">
                        <input type="search" class="nav-search-bar" placeholder="Buscar productos, marcas y más...">
                        <button type="submit" class="nav-search-btn"> <i class="fas fa-search"> </i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="purchase">
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
        </div>
        <input type="checkbox" id="toggler">
        <label class="button-burguer" for="toggler"><i class="fas fa-bars"></i></label>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a>
                </li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></i></a>
                </li>
                <li><a href="/">Mis compras <i class="fa-solid fa-basket-shopping"></i> </a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main"> 
        <div class="banner">
            <img class="img-banner" src="/images/img-home-banner.jpg" alt="banner">
        </div>
        <section class="products-section">
            <h2 class="title">Basado en tu última visita</h2>
            <article class="card">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" />
                <div class="product-detail-container">
                    <div class="product-detail">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                    </div>
                    <p class="description">SmartTv Samsung 43"</p>     
                </div>
            </article>
            <article class="card">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" />
                <div class="product-detail-container">
                    <div class="product-detail">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>
                    </div>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" />
                <div class="product-detail-container">
                    <div class="product-detail">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                    </div>
                    <p class="description">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
                <div class="product-detail-container">
                    <div class="product-detail">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                    </div>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" />
                <div class="product-detail-container">
                    <div class="product-detail">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                    </div>
                    <p class="description">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <section class="section-ofertas">
            <h2 class="title">Ofertas</h2>
            <article class="card">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" />
                <div class="product-detail-container">
                    <div class="product-detail">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>
                    </div>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" />
                <div class="product-detail-container">
                    <div class="product-detail">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                    </div>
                    <p class="description">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
                <div class="product-detail-container">
                    <div class="product-detail">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                    </div>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" />
                <div class="product-detail-container">
                    <div class="product-detail">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                    </div>
                    <p class="description">SmartTv Samsung 43"</p>     
                </div>
            </article>
            <article class="card">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" />
                <div class="product-detail-container">
                    <div class="product-detail">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                    </div>
                    <p class="description">SmartTv Samsung 43"</p>     
                </div>
            </article>
        </section>
    </main>

    <footer class="footer">
        <section class="footer-section">
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                    efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article>
                <i class="fa-solid fa-gift"></i>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                    miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                    hacer, porque estás siempre protegid@.
                </p>
            </article>
        </section>
        <article class="footer-copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>

</html>